.budget-summary {
  padding: 24px 28px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.budget-summary-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
